.cardWrapper {
  background-color: rgb(61, 61, 61);
  border: 1px solid black;
  border-radius: 10px;
  width: 222px;
  height: 302px;
  margin: 10px;
  box-shadow: 5px 5px 10px 1px;
  cursor: pointer;
  display: inline-block;
}

.card {
  background-color: rgb(61, 61, 61);
  border: 1px solid black;
  border-radius: 10px;
  width: 222px;
  height: 302px;
  box-shadow: 5px 5px 10px 1px
}

.innerCard {
  background-color: rgb(122, 122, 122);
  border: 1px solid black;
  border-radius: 10px;
  width: 200px;
  height: 280px;
  margin: 10px auto;
}

.cardTitle {
  color: black;
  background-color: rgb(199, 199, 199);
  border: 2px solid black;
  border-radius: 10px;
  width: 190px;
  height: 20px;
  margin: 2px auto;
}

.cardTitle p {
  font-size: 14px;
  margin: 0;
  padding: 0 5px;
}

.cardImage{
  border: 2px solid black;
  border-radius: 5px;
  text-align: center;
  background-color: rgb(199, 199, 199);
  padding: 10px;
  margin: 3px;
}

.cardImage img{
  height: 80px;
  margin: auto;
}

.cardDescription {
  color: black;
  background-color: rgb(199, 199, 199);
  border: 2px solid black;
  border-radius: 10px;
  width: 180px;
  height: 80px;
  margin: 2px;
  padding: 5px;
  position: absolute;
}

.cardDescription p { 
  font-size: 12px;
  margin: 2px;
}

.cardStats { 
  text-align: center;
  background-color: rgb(238, 238, 238);
  border: 2px solid black;
  border-radius: 10px;
  min-width: 45px;
  min-height: 35px;
  top: 270px;
  font-size: 16px;
  margin: 2px;
}

.cardStats p{ 
  display: inline-block;
  font-weight: bold;
  margin: 0 30px;
  padding-top: 7px;
}

.selected {
  box-shadow: 5px 5px 10px 1px rgb(241, 225, 131); 
}